<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="srjhlab.com.myownbarcode">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddSelectActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".AddInfoActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".AddFromKeyActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".BarcodeModifiyActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".EditInfoActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".BarcodeFocusActivity"
            android:theme="@style/PopupTheme" />
        <activity android:name=".LicenseActivity" />
        <activity android:name=".AddFromImageActivity"></activity>

    </application>

</manifest>